<h3>History</h3>
<button (click)="clearHistory()">Clear History</button>
<p>Interactive History List</p>
<hr/>
<ul class="route__list">
  <li class="route" *ngFor="let item of history$ | async">
    <a
      class="route__item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="[item.url]"
    >
      <span class="route__icon">
        <fa-icon *ngIf="item.icon" [icon]="['fas', item.icon]"
      ></fa-icon>
      </span>
      <div class="route__text">
        <span class="route__text--title">
          {{ item.text }}
        </span>
        <i class="route__text--description">
          {{ item.description | date:'medium'}}
        </i>
      </div>
    </a>
  </li>
</ul>
<hr/>